.page{
    display: flex;
    border: 7px solid black;
    align-content: center;
    padding: 100px;
    flex-direction: column;
    text-align: center;

}
body{
    display: flex;
    justify-content: center;
}